<div class="container">

  <div class="col-sm-3 col-md-2 sidebar">
    <div class="row placeholders-sidebar">
      <div class="col-m-6 col-m-3 placeholder-sidebar">
        <%= link_to(current_user) do %>
          <div class="col-m-6 col-m-3 placeholder">
            <img src="<%= current_user.profile_image %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          </div>
        <% end %>
        <h4><%= current_user.name %></h4>
        <span class="text-muted">
          <%= current_user.graduating_cohort %><br>
          <%= current_user.cohorts.last.campus if !current_user.cohorts.empty? %>
        </span>
      </div>
    </div>
    <div class="row placeholders-sidebar">
      <div class="col-m-6 col-m-3 placeholder-sidebar">
        <%= link_to(@other) do %>
          <div class="col-m-6 col-m-3 placeholder">
            <img src="<%= @other.profile_image %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          </div>
        <% end %>
        <h4><%= @other.name %></h4>
        <span class="text-muted">
          <%= @other.graduating_cohort%><br>
          <%= @other.cohorts.last.campus if @other.cohorts %>
        </span>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="conversation col-md-6 col-md-offset-3">
      <div>
        <% if @conversation.variety.variety == 'mentorship' %>
          <h1><i class="fa fa-graduation-cap" aria-hidden="true"></i> Mentorship Conversation with <%= @other.name %></h1>
        <% elsif @conversation.variety.variety == 'collaboration' %>
          <h1><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Collaboration Conversation with <%= @other.name %></h1>
        <% else %>
          <h1><i class="fa fa-paper-plane" aria-hidden="true"></i> Conversation with <%= @other.name %></h1>
        <% end %>
        <!-- <div id="converse"> -->
      </div><br>

      <div>
        <% @conversation.messages.each do |message| %>
          <% if message.user_id == @conversation.sender_id %>
           <div class="sender-message">
            <div class="time-stamp"><%= message.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></div>
            <p><strong><%= User.find(@conversation.sender_id).name %></strong> : <%= message.content %></p>
            </div>
          <% elsif message.user_id == @conversation.recipient_id %>
            <div class="recipient-message">
            <div class="time-stamp"><%= message.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></div>
            <p><strong><%= User.find(@conversation.recipient_id).name %></strong> : <%= message.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>

         <%=form_for [@conversation, @conversation.messages.new] do |f| %>
           <div class="form-group">
             <%=f.text_area :content, id: "new_message", placeholder: "Create new message", class: "form-control" %>
           </div>
             <%= f.hidden_field :user_id, value: current_user.id %>
           <div class="action">
             <%= f.submit "Send Message", class: "btn btn-primary" %>
           </div>
         <% end %>
      </div>
    </div>


</div>

