<h1> Hey yayayah Hey yayaya</h1>
<%= @other.name %>
<%= link_to "View Profile", @other, class: "btn btn-default wide" %>
​
<div id="converse">

</div>
Conversation with <%=@other.name %>
​<div>
<% @conversation.messages.each do |message| %>
  <% if message.user_id == @conversation.sender_id %>
    <p><strong><%= User.find(@conversation.sender_id).name %></strong> : <%= message.content %></p>
  <% elsif message.user_id == @conversation.recipient_id %>
    <p><strong><%= User.find(@conversation.recipient_id).name %></strong> : <%= message.content %></p>
  <% end %>
<% end %>

</div>

<%=form_for [@conversation, @conversation.messages.new] do |f| %>
  <div class="form-group">
    <%=f.text_area :content, id: "new_message", placeholder: "Create new message", class: "form-control" %>
  </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="action">
    <%= f.submit "Send Message", class: "btn btn-primary" %>
  </div>
<% end %>

