<div class="col-sm-3 col-md-2 sidebar">
  <div class="row placeholders-sidebar">
    <div class="col-m-6 col-m-3 placeholder-sidebar">
      <img src="<%= current_user.profile_image %>" width="200" height="200" class="img-responsive" alt="Boot profile image">
      <h4><%=  current_user.name %></h4>
      <span class="text-muted"><%= current_user.cohorts.last.name %>
        <br>
        <%= current_user.cohorts.last.campus %>
        <br>
        <% if current_user.is_graduate %>
          Graduate
        <% else %>
          Student
        <% end %>
      </span>

    </div>
  </div>

  <div>
    <form class="navbar-form navbar-right" action="/users" method="get">
      <label>Only Favorite Boots</label>
      <input name="favorite_boots" type="hidden" value="0" />
      <input checked="checked" type="checkbox" id="favorite_boots" name="favorite_boots" value="1" />

      <input list="find-city" name="city" class="form-control" placeholder="City" />
      <datalist id="find-city">
      <% @cities.each do |city| %>
        <option value="<%= city %>"></option>
      <% end %>
      </datalist>

      <input list="find-state" name="state" class="form-control" placeholder="State" />
      <datalist id="find-state">
      <% @states.each do |state| %>
        <option value="<%= state %>"></option>
      <% end %>
      </datalist>

      <input list="find-country" name="country" class="form-control" placeholder="Country" />
      <datalist id="find-country">
      <% @countries.each do |country| %>
        <option value="<%= country %>"></option>
      <% end %>
      </datalist>

      <input list="find-cohort" name="cohort" class="form-control" placeholder="Cohort" />
      <datalist id="find-cohort">
      <% @cohorts.each do |cohort| %>
        <option value="<%= cohort %>"></option>
      <% end %>
      </datalist>

      <input list="find-campus" name="campus" class="form-control" placeholder="Campus" />
      <datalist id="find-campus">
      <% @campuses.each do |campus| %>
        <option value="<%= campus %>"></option>
      <% end %>
      </datalist>

      <input list="find-graduation-date" name="graduation_date" class="form-control" placeholder="Graduation Date" />
      <datalist id="find-graduation-date">
      <% @graduation_dates.each do |graduation_date| %>
        <option value="<%= graduation_date %>"></option>
      <% end %>
      </datalist>

      <input list="find-interest" name="interest" class="form-control" placeholder="Interest" />
      <datalist id="find-interest">
      <% @interests.each do |interest| %>
        <option value="<%= interest %>"></option>
      <% end %>
      </datalist>

      <input type="submit" value="Filter Boots">
    </form>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Boots</h1>
  <div class="row placeholders">
  <%  @users.order('name ASC').each do |user| %>
    <div class="col-xs-6 col-sm-3 placeholder mini-boot-show">
    <a href="users/<%=user.id%>">
      <img src="<%= user.profile_image %>" width="200" height="200" class="img-responsive" alt="profile image">
      <h4><%= user.name %></h4>
    </a>
        <span class="text-muted"><%= user.cohorts.last.name %></span><br>
        <% if user.country == 'US' %>
          <span class="text-muted"><%= user.city %>, <%= user.state %></span><br>
        <% else %>
          <span class="text-muted"><%= user.city %>, <%= user.country %>
        <% end %>
    </div>
  <% end %>
  </div>
</div>
