<div class="col-sm-3 col-md-2 sidebar">
  <div class="row placeholders-sidebar">
    <div class="col-xs-6 col-sm-3 placeholder-sidebar">
      <img src="<%= current_user.profile_image %>" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4><%= current_user.name %></h4>
      <p><span class="text-muted"><%= current_user.cohorts.last.campus %></span>
      <span class="text-muted"><%= current_user.cohorts.last.graduation_date.to_s.slice(0,4) %></span>
        <% current_user.cohorts.each do |cohort| %>
        <span class="text-muted"><%= cohort.name %></span>
      <% end %>
      </p>
    </div>
  </div>

  <div>
    <form class="navbar-form navbar-right" action="/users" method="get">
      <input list="find-city" name="city" class="form-control" placeholder="City" />
      <datalist id="find-city">
      <% @cities.each do |city| %>
        <option value="<%= city %>"></option>
      <% end %>
      </datalist>
    </form>


  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Boots</h1>
  <div class="row placeholders">
  <%  @users.order('name ASC').each do |user| %>
    <div class="col-xs-6 col-sm-3 placeholder mini-boot-show">
    <a href="users/<%=user.id%>">
      <img src="<%= user.profile_image %>" width="200" height="200" class="img-responsive" alt="profile image">
      <h4><%= user.name %></h4>
    </a>
        <span class="text-muted"><%= user.cohorts.last.name %></span><br>
        <% if user.country == 'US' %>
          <span class="text-muted"><%= user.city %>, <%= user.state %></span><br>
        <% else %>
          <span class="text-muted"><%= user.city %>, <%= user.country %>
        <% end %>
    </div>
  <% end %>
  </div>
</div>
