<div class="col-sm-3 col-md-2 sidebar">
  <div class="row placeholders-sidebar">
    <div class="col-m-6 col-m-3 placeholder-sidebar">
      <img src="<%= @user.profile_image %>" width="200" height="200" class="img-responsive" alt="Boot profile image">
      <h4><%=  @user.name %></h4>
      <span class="text-muted">
        <% @user.cohorts.reverse.each do |cohort| %>
          <%= cohort.name %><br>
        <% end %>
        <%= @user.cohorts.last.campus %>
        <br>
        <% if @user.is_graduate %>
          Graduate
        <% else %>
          Student
        <% end %>
      </span>
    <!-- I <3 -->
      <% if current_user.id != @user.id && !@am_i_following %>
        <%= form_tag("/follows", method: "post") do %>
          <%= hidden_field_tag(:followee_id, @user.id) %>
          <%= hidden_field_tag(:follower_id, current_user.id) %>
          <%= button_tag(type: "submit", class: "default-message btn btn-primary btn-small") do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true"></i> Favorite
          <% end %>
        <% end %>

      <% elsif current_user.id != @user.id && @am_i_following  %>
        <%= form_tag("/follows/#{@am_i_following.id}", method: "delete") do %>
          <%= hidden_field_tag(:followee_id, @user.id) %>
          <%= hidden_field_tag(:follower_id, current_user.id) %>
          <%= hidden_field_tag(:id, @am_i_following.id) %>
          <%= button_tag(type: "submit", class: "default-message btn btn-primary btn-small") do %>
            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Unfavorite
          <% end %>
        <% end %>
      <% end  %>

    </div>
  </div>
  <!-- Social Links -->
  <div class='social-links'>
    <% if @user.linkedin %>
      <a href="<%= @user.linkedin %>" target="_blank" class="btn btn-social-icon btn-linkedin">
        <span class="fa fa-linkedin"></span>
      </a>
    <% end %>

    <% if @user.github %>
      <a href="<%= @user.github %>" target="_blank" class="btn btn-social-icon btn-github">
        <span class="fa fa-github"></span>
      </a>
    <% end %>

    <% if @user.facebook %>
      <a href="<%= @user.facebook %>" target="_blank" class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook"></span>
      </a>
    <% end %>

    <% if @user.twitter %>
      <a href="<%= @user.twitter %>" target="_blank" class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
    <% end %>
    <br>

    <% if @user.employ %>
      <a href="<%= @user.employ %>" target="_blank"> Employ Profile</a>
    <% end %>
    <br>

    <% if @user.personal_website %>
      <a href="<%= @user.personal_website %>" target="_blank">Personal Website</a>
    <% end %>
  </div>

  <!-- Location Info -->
  <div class='location-info'>
    <% if @user.country == 'US' %>
      <p><%= @user.city %>, <%= @user.state %></p>
    <% else %>
      <p><%= @user.city %>, <%= @user.country %></p>
    <% end %>
  </div>
  <!-- Employment Info -->
  <% if @user.employment_status != 'Unemployed' %>
    <div class='employment-info'>
      <p><strong>Employer:</strong> <%= @user.employer %></p>
      <p><strong>Role:</strong> <%= @user.role %></p>
    </div>
  <% end %>
  <!-- DBC Info -->
  <div class='dbc-info'>
    <p><strong>Quirk: </strong> <%= @user.quirk %></p>
    <p><strong>Love:</strong> <%= @user.love %></p>
  </div>
  <!-- Interests -->
  <div class='interests-info'>
    <p><strong>Interests:</strong>
    <ul>
    <% @user.interests.each do |interest| %>
      <li><%= interest.interest %></li>
    <% end %>
    </ul>
  </div>

  <!-- Message Buttons (and Edit Button) -->
  <% if @user == current_user %>
    <div>
      <a href="/conversations"><button type="button" class="messages btn btn-primary btn-small"><i class="fa fa-envelope-o" aria-hidden="true"></i></button></a>
      <a href="/users/<%= @user.id %>/edit"><button type="button" class="btn btn-primary btn-small"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
    </div>
  <% else %>
    <div>
      <%= form_tag("/conversations", method: "post") do %>
        <%= hidden_field_tag(:conversation_variety_id, "1") %>
        <%= hidden_field_tag(:recipient_id, @user.id) %>
        <%= hidden_field_tag(:sender_id, current_user.id) %>
        <%= button_tag(type: "submit", class: "default-message btn btn-primary btn-small") do %>
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Message
        <% end %>
      <% end %>
      <% if @user.willing_to_mentor %>
        <%= form_tag("/conversations", method: "post") do %>
          <%= hidden_field_tag(:conversation_variety_id, "2") %>
          <%= hidden_field_tag(:recipient_id, @user.id) %>
          <%= hidden_field_tag(:sender_id, current_user.id) %>
          <%= button_tag(type: "submit", class: "default-message btn btn-primary btn-small") do %>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Mentor
          <% end %>
        <% end %>
      <% end %>
      <% if @user.willing_to_collaborate %>
        <%= form_tag("/conversations", method: "post") do %>
          <%= hidden_field_tag(:conversation_variety_id, "3") %>
          <%= hidden_field_tag(:recipient_id, @user.id) %>
          <%= hidden_field_tag(:sender_id, current_user.id) %>
          <%= button_tag(type: "submit", class: "default-message btn btn-primary btn-small") do %>
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Collab
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<% if flash[:danger] %>
  <div class="alert alert-danger">
    <% flash[:danger].each do |error|%>
      <%= error %><br>
    <% end %>
  </div>
  <% elsif flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div>
  <% if @user.bio %>
    <div class='profile-text-box'>
      <h1>Bio</h1>
      <p><%= @user.bio %></p>
    </div>
  <% end %>

  <% if @user.advice_to_students %>
    <div class='profile-text-box'>
      <h1>Tweets of Advice to Students</h1>
      <p><%= @user.advice_to_students %></p>
    </div>
  <% end %>

  <% if @user.advice_to_graduates %>
    <div class='profile-text-box'>
      <h1>Tweets of Advice to Graduates</h1>
      <p><%= @user.advice_to_graduates %></p>
    </div>
  <% end %>
</div>

  <% if current_user.id == @user.id && current_user.followees.present? %>

  <h1 class="page-header"><i class="glyphicon glyphicon-heart" aria-hidden="true"></i> My Favorite Boots  <i class="glyphicon glyphicon-heart" aria-hidden="true"></i> </h1>

  <div class="row placeholders">
    <%current_user.followees('name ASC').each do |user| %>
      <div class="col-xs-6 col-sm-3 placeholder mini-boot-show">
        <a href="<%=user.id%>">
          <img src="<%= user.profile_image %>" width="200" height="200" class="img-responsive" alt="profile image">
          <h4><%= user.name %></h4>
        </a>
        <span class="text-muted"><%= user.cohorts.last.name %></span><br>
        <% if user.country == 'US' %>
          <span class="text-muted"><%= user.city %>, <%= user.state %></span><br>
        <% else %>
          <span class="text-muted"><%= user.city %>, <%= user.country %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>


